%% auther: xyao   
%% email: jiexiaowen@gmail.com   
%% date: 2010.04.09
  
[{sasl, [   
    {sasl_error_logger, false},    
    {errlog_type, error},   
    {error_logger_mf_dir, "./logs"},     %% dirs
    {error_logger_mf_maxbytes, 1048760}, %% 10M per log file.   
    {error_logger_mf_maxfiles, 10}       %%maxinum number of 10
]}].   
 
%% File end.  
