[
  {sasl, [   
    	{sasl_error_logger, false},    
    	{errlog_type, error},   
    	{error_logger_mf_dir, "./logs"},     %% dirs
    	{error_logger_mf_maxbytes, 1048760}, %% 10M per log file.   
    	{error_logger_mf_maxfiles, 10}       %% maxinum number of 10
    	]
   },
   
  {gateway, [
  		{tcp_listener_ip,[
						{ip, "127.0.0.1"}
						]},
		{tcp_listener,[
						{port, 8777}, 
						{node_id, 0},
						{acceptor_num, 100},
						{max_connections, 3000}
						]},
		{mysql_config, 	  [
						{host, "127.0.0.1"},
						{port, 3306}, 
						{user, "root"},
						{password, "root"},
						
						%{host, "127.0.0.1"},
						%{port, 3306}, 
						%{user, "root"},
						%{password, "root"},
												
						{db, "ygzj_dev"},
						{encode, utf8}
				  		]},
		{emongo_config, [
						{poolId,"master_mongo"},
						{emongoHost, "127.0.0.1"},
						{emongoPort, 27017},
						{emongoDatabase, "ygzj_dev"},
						{emongoSize, 1}
						]},	
		{log_emongo_config, [
						{poolId,"log_mongo"},
						{emongoHost, "127.0.0.1"},
						{emongoPort, 27017},
						{emongoDatabase, "log_ygzj_dev"},
						{emongoSize, 1}
						]},
		{slave_emongo_config, [
						{poolId,"slave_mongo"},
						{emongoHost, "127.0.0.1"},
						{emongoPort, 27017},
						{emongoDatabase, "ygzj_dev"},
						{emongoSize, 1}
						]},				  		
		{log_level, 3},				%% 日志输出级别类型
		{http_ips, ["127.0.0.1"]},
		{base_data_from_db, 1},		%% 基本数据实时读数据库？(1：是，使用ets; 0：否，来自生成的静态文件)
		{gateway_async_time,10}              %% 延时允许客户端连接 单位：秒
		]
  }
].  

