[
  {sasl, [   
    	{sasl_error_logger, false},    
    	{errlog_type, error},   
    	{error_logger_mf_dir, "./logs"},     %% dirs
    	{error_logger_mf_maxbytes, 1048760}, %% 10M per log file.   
    	{error_logger_mf_maxfiles, 10}       %% maxinum number of 10
    	]
   },
  
  {server, [  
  		{tcp_listener_ip,[
						{ip, "127.0.0.1"}
						]},
		{tcp_listener,[
						{port, 7789}, 
						{node_id, 2},
						{acceptor_num, 100},
						{max_connections, 3000}
						]},
		{mysql_config, 	  [
						{host, "127.0.0.1"},
						{port, 3386}, 
						{user, "root"},
						{password, "root"},
						
						%% {host, "127.0.0.1"},
						%% {port, 3306}, 
						%% {user, "root"},
						%% {password, "root"},
						
						{db, "ygzj_dev"},
						{encode, utf8}
				  		]},
		{emongo_config, [
						{poolId,"master_mongo"},
						{emongoHost, "127.0.0.1"},
						{emongoPort, 27017},
						{emongoDatabase, "ygzj_dev"},
						{emongoSize, 1}
						]},
		{log_emongo_config, [
						{poolId,"log_mongo"},
						{emongoHost, "127.0.0.1"},
						{emongoPort, 27017},
						{emongoDatabase, "log_ygzj_dev"},
						{emongoSize, 1}
						]},
		{slave_emongo_config, [
						{poolId,"slave_mongo"},
						{emongoHost, "127.0.0.1"},
						{emongoPort, 27017},
						{emongoDatabase, "ygzj_dev"},
						{emongoSize, 1}
						]},								  		
		{gateway_node, 'ygzj_gateway@127.0.0.1'},	%% 网关节点
		{log_level, 3},				%% 日志输出级别类型
		{base_data_from_db, 1},		%% 基本数据实时读数据库？(1：是，使用ets; 0：否，来自生成的静态文件)
		{scene_here, []},		%% 开启加载在本节点场景(all--所有非副本节点; [100]--配置的节点)	
		{guest_account_url, "http://www.xfj.com/guest_account.php"},		%% 获取游客账号Url
		{can_gmcmd, 1},				%% GM命令启用否 （1：开启; 0: 关闭）		
		{strict_md5, 0},			%% 是否需要严格验证 （1：验证; 0: 不验证）					
		{infant_ctrl, 0}			%% 防沉迷系统开关 （1：开启; 0: 关闭）
		]
  }
].  

